<template lang="html">
  <div class="form heading">
    <div class="error" v-if="error.show">
      {{ error.message }}
    </div>
    <label for="new-profile">New Profile</label>
    <div class="form-block">
      <input type="text" v-model="url" placeholder="url to linkedin or twitter"
      @keyup.stop="error.show = false" id="new-profile">
      <div class="btn heading add" @click="grabUrl()">GRAB</div>
    </div>
    <showprofile :persisted="false" :tags="tags" :profile="profile" @hide="hideProfile"
    v-if="profile.fetched" @close="profile = {}"></showprofile>
  </div>
</template>

<script>
import showprofile from './profile'
export default {
  props: ['tags'],
  data() {
    return {
      error: { show: false, message: '' },
      profile: {},
      url: ''
    }
  },
  components: {
    showprofile
  },
  methods: {
    hideProfile() {
      this.profile = {}
      this.$forceUpdate()
    },
    grabUrl() {
      var form = new FormData
      form.append('profile[url]', this.url)
      this.$http.post('/grab', form).then(response => {
        this.profile = response.body
        this.profile.fetched = true
      }, response => {
        this.error.message = response.body.statusText
        this.error.show = true
      });
    }
  }
}
</script>

<style lang="css">
</style>
