<template lang="html">
  <aside id="_aside" :class="{ minimized: windowWidth < 800 }">
    <div class="header-logo"></div>
    <div class="main-aside">
      <div class="pages-links">
        <ul>
          <li @click.prevent="toggleAside()">
            <a href="#" class="aside">filter</a>
          </li>
          <li>
            <a href="/about" data-turbolinks="false">about</a>
          </li>
          <li>
            <a href="/suggest" data-turbolinks="false">suggest</a>
          </li>
        </ul>
      </div>
      <div class="filter-container aside" :class="{ active: opened }">
        <div class="filter-toggle">
          <span class="filter-toggle_title">Filter by</span>
          <span class="filter-toggle_item" :class="{ active: queryTags.length }" @click="reset()"></span>
        </div>
        <div class="options-list">
          <ul class="animated" :class="{ 'fadeIn': animate, 'fadeOut': !animate }">
            <li v-for="tag in optionsList" @click="filter(tag)" :class="choosed(tag)"><span>{{ tag }}</span> </li>
          </ul>
          <div class="options-filter">
            <span @click="toggleMenu()">{{ showAll ? 'Show less filters' : 'Show more filters' }}</span></span>
          </div>
        </div>
        <a href="https://www.youtube.com/c/academiarockit" target="_blank">
          <div class="academy-logo"></div>
        </a>
      </div>
    </div>
  </aside>
</template>

<script>
import { EventBus } from '../utils/bus'
export default {
  props: ['tags', 'opened'],
  data() {
    return {
      queryTags: [],
      showAll: false,
      animate: true,
      optionsList: this.tags.slice(0, 9),
      windowWidth: null,
    }
  },
  methods: {
    toggleAside() {
      this.$emit('toggleaside')
    },
    reset() {
      if (this.queryTags.length) {
        this.queryTags = []
        EventBus.$emit('filter', this.queryTags)
      }
    },
    toggleMenu() {
      this.animate = false
      this.showAll = !this.showAll
      if (this.showAll) {
        setTimeout(() => {
          this.animate = true
          this.optionsList = this.tags
        }, 100)
      } else {
        setTimeout(() => {
          this.animate = true
          this.optionsList = this.tags.slice(0, 9)
        }, 100)
      }
    },
    choosed(tag) {
      if (this.queryTags.includes(tag)) {
        return 'choosed'
      } else {
        return ''
      }
    },
    filter(tag) {
      if (this.queryTags.includes(tag)) {
        let index = this.queryTags.indexOf(tag)
        this.queryTags.splice(index, 1)
      } else {
        this.queryTags.push(tag)
      }
      EventBus.$emit('clearSearchQuery')
      EventBus.$emit('filter', this.queryTags)
    },
    getWindowSize() {
      this.windowWidth = window.innerWidth
    }
  },
  mounted() {
    this.$nextTick(function() {
      window.addEventListener('resize', this.getWindowSize);
    })
  },
  created() {
    EventBus.$on('clearTags', () => {
      this.reset()
    })
    this.getWindowSize()
  }
}
</script>

<style lang="css">
</style>
