<template lang="html">
  <section id="profiles" :class="{ loading: !fetched }">
    <div class="spinner-container" v-if="!fetched">
      <div class="spinner"></div>
    </div>
    <div class="profile-card" v-for="profile in profilesWithTags" v-show="fetched">
      <div class="card-inner">
        <div class="card-info">
          <div class="card-image" :style="'background-image: url(' + profile.image + ')'"></div>
          <div class="card-designer-info">
            <h5>{{ profile.name }}</h5>
            <span>{{ profile.alias }}</span>
          </div>
          <div class="card-designer-description" v-html="profileBio(profile)"></div>
        </div>
      </div>
      <a class="btn card" :href="profile.url" target="_blank">
        <i class="fa" :class="assignSourceIcon(profile.url)"></i>
        <span>profile</span>
      </a>
    </div>
  </section>
</template>

<script>
import { EventBus } from '../utils/bus'
export default {
  data() {
    return {
      profiles: [],
      fetched: false,
      profilesWithTags: []
    }
  },
  methods: {
    assignSourceIcon(url) {
      if (url.includes('linkedin')) {
        return 'fa-linkedin'
      } else if (url.includes('twitter')) {
        return 'fa-twitter'
      }
    },
    profileBio(profile) {
      if (profile && profile.bio.length > 250) {
        return profile.bio.substring(0,250) + ' ...'
      } else if (profile) {
        return profile.bio
      }
    },
    fetchProfiles(tags) {
      this.fetched = false
      this.$http.get('profiles/json?tags=' + tags).then(response => {
        this.profiles = response.body
        this.profilesWithTags = this.profiles
        setTimeout(() => {
          this.fetched = true
        }, 600)
      }, response => {
        setTimeout(() => {
          this.fetched = true
        }, 600)
      });
    },
    scrollToTop() {
      this.$scrollTo('#main-container', 0, { offset: -100 })
    },
    filterProfiles(tags) {
      if (tags.length) {
        this.profilesWithTags = this.profiles.filter(a => a.taglist.some(t => {
          for(var i in tags) {
            if (t.includes(tags[i])) {
              return true
            }
          }
        }));
        this.scrollToTop()
      } else {
        this.profilesWithTags = this.profiles
      }
    },
    filterByName(query) {
      if (query.length) {
        this.profilesWithTags = this.profiles.filter(a => {
          if (this.normalizeStr(a.name).includes(this.normalizeStr(query))) {
            return true
          }
        })
        this.scrollToTop()
      } else {
        this.profilesWithTags = this.profiles
      }
    },
    normalizeStr(s) {
      return s.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "")
    }
  },
  created() {
    this.fetchProfiles('')
    EventBus.$on('filter', query => {
      this.filterProfiles(query)
    })
    EventBus.$on('searchName', query => {
      this.filterByName(query)
    })
  },
  beforeDestroy() {
    EventBus.$off('filter')
    EventBus.$off('searchName')
  }
}
</script>

<style lang="css">
</style>
