<template lang="html">
  <section id="profiles" class="profile-fixed">
    <span class="close-button" @click="$emit('close')">
      <i class="fa fa-times 2x"></i>
    </span>
    <div class="profile-card">
      <div class="card-inner">
        <div class="card-info">
          <div class="card-image" :style="'background-image: url(' + profileImage + ')'"></div>
          <div class="card-designer-info">
            <h5>{{profile.name}}</h5>
            <span>{{profile.alias}}</span>
          </div>
          <div class="card-designer-description" v-html="profile.bio"></div>
          <div class="" @click="grabAgain()">
            <span class="btn heading">grab again</span>
            <span style="color: red;" v-if="error.length">{{ error }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="form">
      <div class="form-block">
        <label for="name">Url</label>
        <input type="text" v-model="profile.url">
      </div>
      <div class="form-block">
        <label for="name">Image url</label>
        <input type="text" v-model="profile.image">
      </div>
      <div class="form-block">
        <label for="name">Name</label>
        <input type="text" id="name" v-model="profile.name">
      </div>
      <div class="form-block">
        <label for="alias">Alias</label>
        <input type="text" id="alias" v-model="profile.alias">
      </div>
      <div class="form-block">
        <label for="alias">About</label>
        <textarea rows="8" cols="80" v-model="profile.bio"></textarea>
      </div>
      <div class="form-block" style="padding-bottom: 20px;">
        <v-select multiple v-model="profile.taglist" :options="tags"></v-select>
      </div>
      <div class="form-block">
        <div class="btn heading" @click="saveProfile()">Save</div>
      </div>
    </div>
  </section>
</template>

<script>
import { EventBus } from '../utils/bus'
export default {
  props: ['profile', 'tags', 'persisted'],
  data() {
    return {
      error: ''
    }
  },
  computed: {
    profileImage() {
      if (this.profile.image != null) {
        return this.profile.image
      } else {
        return ''
      }
    }
  },
  methods: {
    grabAgain() {
      this.$http.post('/grab', {profile: { url: this.profile.url }}).then(response => {
        this.$emit('grab', response.body)
      }, response => {

      });
    },
    saveProfile() {
      if (this.persisted) {
        this.$http.patch('admin/profiles/' + this.profile.id, {profile: this.profile}).then(response => {
          this.$emit('update', response.body)
        }, response => {

        });
      } else {
        this.$http.post('admin/profiles', {profile: this.profile}).then(response => {
          EventBus.$emit('save', response.body)
          this.$emit('hide')
        }, response => {
          this.$emit('hide')
        });
      }
    }
  },
  mounted() {
    var body = document.getElementsByTagName('body')[0]
    body.classList.add("body-no-scroll");
  },
  beforeDestroy() {
    var body = document.getElementsByTagName('body')[0]
    body.classList.remove("body-no-scroll");
  }
}
</script>

<style lang="css">
</style>
