<template lang="html">
  <section id="profiles" v-if="fetched">
    <div class="profile-card" v-for="(profile, key) in profiles">
      <div class="card-inner">
        <div class="card-info">
          <div class="card-image" :style="'background-image: url(' + profileImage(profile.image) + ')'"></div>
          <div class="card-designer-info">
            <h5>{{ profile.name }}</h5>
            <span>{{ profile.alias }}</span>
          </div>
          <div class="card-designer-description" v-html="profileBio(profile)"></div>
        </div>
      </div>
      <div class="actions">
        <span @click="approve(key)" v-if="!!!profile.approved">Approve</span>
        <span><a :href="profile.url" target="_blank"><i class="fa fa-link"></i></a></span>
        <span @click="editProfile(profile)"><i class="fa fa-pencil"></i></span>
        <span @click="destroyProfile(profile, key)"><i class="fa fa-times-circle"></i></span>
      </div>

      <profile :profile="profile" :tags="tags" @close="closeProfileDetails(profile)" @grab="updateProfiles($event, key, true)"
      :persisted="true" v-if="profile.show" @update="updateProfiles($event, key, false)" @save="saveProfile"></profile>
    </div>
  </section>
</template>

<script>
import profile from './profile'
import { EventBus } from '../utils/bus'

export default {
  props: ['admin', 'tags'],
  data() {
    return {
      profiles: [],
      fetched: false,
    }
  },
  components: {
    profile,
  },
  methods: {
    profileBio(profile) {
      if (profile && profile.bio && profile.bio.length > 250) {
        return profile.bio.substring(0,250) + ' ...'
      } else if (profile && profile.bio) {
        return profile.bio
      } else {
        return ''
      }
    },
    profileImage(image) {
      return image != null ? image : ''
    },
    approve(index) {
      this.$http.post('admin/profiles/' + this.profiles[index].id + '/approve').then(response => {
        this.$set(this.profiles[index], 'approved', true)
      }, response => {
      });
    },
    saveProfile(data) {
      this.profiles.unshift(data)
    },
    updateProfiles(data, index, show) {
      this.profiles[index] = Object.assign(this.profiles[index], data)
      this.profiles[index].show = show
      this.$forceUpdate()
    },
    closeProfileDetails(profile) {
      profile.show = false
      this.$forceUpdate()
    },
    destroyProfile(profile, index) {
      this.$http.delete('admin/profiles/' + profile.id).then(response => {
        this.profiles.splice(index, 1)
      }, response => {
      });
    },
    editProfile(profile) {
      profile.show = true
      this.$forceUpdate()
    },
    fetchProfiles(query) {
      this.$http.get('admin?tags=' + query).then(response => {
        this.profiles = response.body
        this.fetched = true
      }, response => {
        this.fetched = true
      });
    }
  },
  created() {
    this.fetchProfiles('')
    EventBus.$on('save', profile => {
      this.saveProfile(profile)
    })
    EventBus.$on('filter', query => {
      this.fetchProfiles(query)
    })
  },
  beforeDestroy() {
    EventBus.$off('save')
    EventBus.$off('filter')
  }
}
</script>

<style lang="css">
</style>
