<template lang="html">
  <transition  name="fade" mode="out-in">
    <div class="scroll-top-widget" v-if="show" v-scroll-to="{ el: '#main-container', offset: -100 }">
      <i class="fa fa-chevron-up"></i>
    </div>
  </transition>
</template>

<script>
import { EventBus } from '../utils/bus'
export default {
  data() {
    return {
      show: false
    }
  },
  methods: {
    _checkPosition() {
      var container = document.getElementById('profiles')
      if (container.getBoundingClientRect().top < -150 ) {
        this.show = true
        EventBus.$emit('toggleStaticSearch', true)
      } else {
        this.show = false
        EventBus.$emit('toggleStaticSearch', false)
      }
    }
  },
  mounted() {
    this._checkPosition()
    document.addEventListener('scroll', this._checkPosition);
  }
}
</script>

<style lang="css">
</style>
