<template lang="html">
  <div class="form mdrnz" :class="{ active: fixedForm }">
    <div class="form-block" :class="{active: active}">
      <label for="search">Search by name</label>
      <i class="fa fa-search" v-if="!searchQuery.length"></i>
      <i class="fa fa-caret-left hold" v-if="searchQuery.length" @click="reset(false)"></i>
      <span class="send-query hold" @click="callIndexProfiles()" v-if="searchQuery.length">go</span>
      <input type="text" name="search" @keyup.enter="callIndexProfiles()" @keyup="$emit('update', $event.target.value)"
      :value="searchQuery" @focus="checkInput" @blur="checkInput">
    </div>
  </div>
</template>

<script>
import { EventBus } from '../utils/bus'
export default {
  props: ['fixedForm', 'searchQuery'],
  data() {
    return {
      active: false,
    }
  },
  watch: {
    searchQuery(newVal) {
      if (newVal.length <= 0) {
        this.reset(false)
        this.active = false
      } else {
        this.active = true
      }
    }
  },
  methods: {
    reset(hideForm) {
      EventBus.$emit('searchName', this.searchQuery)
      this.$emit('reset', hideForm)
    },
    checkInput(e) {
      if (e.type == 'focus') {
        this.active = true
      } else if (e.type == 'blur') {
        if (e.target.value.length) {
          this.active = true
          this.callIndexProfiles()
        } else {
          this.active = false
        }
      }
    },
    callIndexProfiles() {
      if (this.active) {
        this.$emit('hide')
        EventBus.$emit('clearTags')
        EventBus.$emit('searchName', this.searchQuery)
      }
    }
  },
  created() {
    EventBus.$on('clearSearchQuery', () => {
      this.reset(true)
      this.active = false
    })
    if (this.searchQuery.length) {
      this.active = true
    } else {
      this.active = false
    }
  }
}
</script>

<style lang="css">
</style>
