<template lang="html">
  <div class="search_box" @click="$emit('togglesearch', $event)" >
    <i class="fa fa-search" v-if="!fixedForm"></i>
    <i class="fa fa-close" v-if="fixedForm"></i>
    <span class="filled" v-if="searchQuery.length"></span>
  </div>
</template>

<script>
export default {
  props: ['fixedForm', 'searchQuery']
}
</script>

<style lang="css">
</style>
