<template lang="html">
  <div class="suggest_form-block animated fadeInUp">
    <div class="head_info-block">
      <h2>Add somebody who deserves it!</h2>
      <p>We know there are many more women that deserve to be listed on this website. Please suggest somebody and we will add them here.</p>
    </div>
    <div class="text-center" v-if="sended">
      <h4>Thank you!</h4>
      <p>We will review the sugestion and will add her on the website!</p>
    </div>
    <div class="form" v-if="!sended">
      <div class="spinner-container" v-if="loading">
        <div class="spinner"></div>
      </div>
      <div class="error">
        <span>{{ error }}</span>
      </div>
      <label for="url">Add the person's link to Twitter or Linkedin</label>
      <div class="form-block pb_sm link-input" :class="{ invalid: errors.has('profile[url]') }">
        <i class="fa" :class="linkIcon"></i>
        <input v-validate="'required'" type="text" name="profile[url]" value="" id="url" v-model="url" @blur="grabUrl">
        <div class="error">
          <span v-show="errors.has('profile[url]')">Url it's not valid.</span>
        </div>
      </div>
      <label for="reason">Choose the category</label>
      <div class="form-block pb" v-scroll-to="'#select-menu'" id="select-menu">
        <v-select multiple v-model="selectedTags" :options="tags"></v-select>
      </div>
      <div class="form-block">
        <div class="btn black add" :class="{ disabled: loading }" @click="validateBeforeSubmit()">SUBMIT</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['tags'],
  data() {
    return {
      profile: {},
      fetched: false,
      selectedTags: [],
      url: '',
      sended: false,
      loading: false,
      error: '',
      linkIcon: 'fa-link'
    }
  },
  watch: {
    url(newVal) {
      if (newVal.includes('linkedin')) {
        this.linkIcon = 'fa-linkedin'
      } else if (newVal.includes('twitter')) {
        this.linkIcon = 'fa-twitter'
      } else {
        this.linkIcon = 'fa-link'
      }
    }
  },
  methods: {
    scrollThis() {
      console.log('this');
    },
    validateBeforeSubmit() {
      this.$validator.validateAll().then((result) => {
        if (result && this.fetched) {
          this.sendProfile()
          return;
        }
      })
    },
    grabUrl(e) {
      this.error = ''
      if (e.target.value.length) {
        if (!e.target.value.includes('linkedin')) {
          this.loading = true
          this.$http.post('/grab', { url: this.url }).then(response => {
            this.profile = response.body
            this.fetched = true
            this.loading = false
          }, response => {
            this.fetched = false
            this.profile = {}
            this.$validator.validate('profile[url]', '')
            this.loading = false
          });
        } else {
          this.fetched = true
        }
      }
    },
    sendProfile() {
      this.loading = true
      this.profile.url = this.url
      this.profile.taglist = this.selectedTags
      this.$http.post('suggest', {profile: this.profile}).then(response => {
        this.sended = true
        this.loading = false
      }, response => {
        this.loading = false
        this.error = response.body[Object.keys(response.body)[0]][0]
      });
    }
  }
}
</script>

<style lang="css">
</style>
