section#about {
  padding-bottom: 100px;
  padding-top: 30px;
  @include breakpoint(small, down) {
    padding-top: 0;
  }
  p, span, li {
    color: rgba($black, .7);
    // line-height: 1.5;
    // font-size: 16px;
    // @include breakpoint(small, down) {
    //   font-size: 14px;
    // }
  }
  span.ol {
    font-weight: bold;
    padding-right: 5px;
  }
  .strong {
    font-weight: bold;
  }
  .promo-rockit {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $gray;
    padding: 10px 0;
  }
  a {
    color: rgba($black, .9);
    transition: opacity 0.2s ease-in-out;
    position: relative;
    padding-bottom: 1px;
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: rgba($black, .6);
      bottom: 0;
      left: 0;
    }
    &:hover {
      opacity: .6;
    }
    &.home {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      &::after {
        content: none;
      }
    }
    &.promo::after {
      content: none;
    }
  }
}
