.admin {
  .error {
    font-size: 13px;
    line-height: 1.3;
  }
  .form.heading {
    width: 50%;
    @include breakpoint(small, down) {
      width: 100%;
      .form-block {
        flex-wrap: wrap;
        &:first-child {
          width: 100%;
        }
        .btn.add {
          min-width: 100% !important;
          margin-left: 0 !important;
        }
      }
    }
    .form-block {
      display: flex;
      width: 100%;
      .btn.add {
        margin-left: 20px;
        min-width: 200px;
      }
    }
  }
  #profiles .profile-card .actions {
    height: 50px;
    border-top: 1px solid $black;
    padding-top: 5px;
    text-align: right;
    span {
      padding-left: 20px;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.profile-fixed {
  position: fixed;
  left: 270px;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: $white;
  z-index: 999;
  max-width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: scroll;
  @include breakpoint(small, down) {
    left: 0;
    padding: 15px;
    span.close-button {
      right: 0;
      top: 10px;
    }
  }
  .close-button {
    position: absolute;
    right: 50px;
    top: 50px;
    height: 30px;
    width: 30px;
    z-index: 9999;
    cursor: pointer;
    i {
      color: rgba($black, .7);
      transition: color 03s ease;
    }
    &:hover i {
      color: $black;
    }
  }
  .form {
    .form-block {
      display: block !important;
      .btn {
        margin-left: 0 !important;
      }
    }
  }
}
