aside {
  background-color: $gray;
  padding: 30px;
  position: relative;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  z-index: 99;
  overflow: auto;
  .header-logo {
    max-height: 200px;
    width: 200px;
    @include aspect-ratio(2, 1);
    background-image: asset-url('logo_white.png');
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    @include breakpoint(small, down) {
      width: 120px;
    }
  }
  .academy-logo {
    background-image: asset-url('rockit_academy.png');
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 58px;
    background-color: $gray;
    margin: 15px 0px;
    @include breakpoint(small, down) {
      background-position: center;
    }
  }
  &.minimized {
    top: 0;
    left: 0;
    right: 0;
    z-index: 99998;
    animation-duration: 0.4s;
    animation-fill-mode: both;
    @extend .fadeInDown;
    height: 90px !important;
    opacity: 0.9;
    overflow: inherit;
    .header-logo {
      max-height: 50px;
    }
    .pages-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      ul {
        z-index: 99999;
      }
      i {
        display: block;
        color: $white;
        cursor: pointer;
      }
    }
  }
  &#foreign {
    background-color: $white;
    .header-logo {
      background-image: asset-url('logo_black.png');
    }
    .pages-links {
      ul {
        li a, li a:after {
          color: $gray;
        }
        li:first-child {
          display: inline-block !important;
        }
        li:last-child a:after {
          content: none;
        }
      }
    }
  }
  @include breakpoint(small, down) {
    padding: 10px 15px;
  }
  .pages-links {
    i {
      display: none;
    }
    ul {
      @include reset-list;
      li {
        display: inline-block;
        a {
          color: $white;
          @include aliasing;
          @include user-select-none;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: bold;
          transition: color 0.2s ease;
          letter-spacing: 2px;
          &:hover {
            color: $hover-white;
          }
        }
        &:first-child a, &:nth-child(2) a {
          position: relative;
          padding-right: 20px;
          &::after {
            color: $white;
            position: absolute;
            content: '.';
            font-size: 16px;
            top: -50%;
            right: 7px;
          }
        }
        &:first-child {
          display: none;
          @include breakpoint(small, down) {
            display: inline-block;
          }
        }
      }
    }
  }
  .filter-container {
    position: relative;
    height: 100%;
    overflow: hidden;
    padding-top: 25px;
    @include breakpoint(small, down) {
      padding-top: 15px;
    }
    .filter-toggle {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 15px;
      .filter-toggle_title {
        @include aliasing;
        @include user-select-none;
        font-size: 16px;
        font-weight: bold;
        color: $white;
      }
      .filter-toggle_item {
        opacity: 0;
        width: 45px;
        height: 20px;
        border: 1px solid rgba($white, .4);
        border-radius: 15px;
        position: relative;
        background-color: rgba($white, .2);
        transition: border-color 0.2s ease-in-out;
        transition:  opacity 1s ease;
        &:after {
          position: absolute;
          content: '';
          border-radius: 100%;
          left: 1px;
          bottom: 1px;
          width: 16px;
          height: 16px;
          background-color: $gray;
          box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.75);
          transition: left .3s cubic-bezier(0.175, 0.885, 0.320, 1.275 ), padding .3s ease, margin .3s ease, background-color .2s ease;
        }
        &.active {
          opacity: 1;
          cursor: pointer;
          transition:  opacity 0.3s ease;
          &::after {
            left: calc(100% - 17px);
            background-color: #C2C2FF;
          }
        }
      }
    }
    .options-list {
      ul {
        @include reset-list;

        li {
          color: $white;
          padding-left: 20px;
          text-transform: capitalize;
          font-size: 16px;
          position: relative;
          cursor: pointer;
          line-height: 1.8;
          &:after {
            position: absolute;
            content: '';
            left: 0;
            top: 40%;
            width: 7px;
            height: 7px;
            border: 1px solid $white;
            border-radius: 50%;
          }
          &.choosed:after {
            background-color: $white;
            @include breakpoint(small, down) {
              background-color: $black;
            }
          }
          &:hover span:after {
            width: 100%;
          }
          span {
            @include aliasing;
            @include user-select-none;
            position: relative;
            &:after {
              position: absolute;
              content: '';
              bottom: -2px;
              left: 0;
              height: 1px;
              background-color: $white;
              transition: all 0.2s ease-in-out;
              width: 0;
            }
          }
        }
      }
      .options-filter {
        padding-top: 25px;
        color: $white;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        &:hover {
          span {
            color: $hover-white;
          }
        }
        @include breakpoint(small, down) {
          span {
            color: $black;
          }
        }
      }
    }
    @include breakpoint(small, down) {
      position: absolute;
      overflow: scroll;
      top: 100%;
      left: 0;
      bottom: 0;
      padding: 2rem;
      margin-left: -270px;
      height: calc(100vh - 100%);
      width: 250px;
      background-color: $white;
      box-shadow: 1px 0px 3px 0px rgba($black, .5);
      z-index: 9999;
      transition: all .5s ease;
      transform: translateX(0);
      .filter-toggle {
        .filter-toggle_title {
          color: rgba($black, .8);
        }
        .filter-toggle_item {
          border: 1px solid rgba($black, .1);
          background-color: rgba($black, .05);
          &:after {
            background-color: rgba($black, .2);
          }
          &.active {
            border: 1px solid rgba($black, .8);
            background-color: rgba($black, .1);
          }
        }
      }
      .options-list {
        li {
          color: rgba($black, .8);
          &:after {
            border-color: rgba($black, .8) !important;
          }
          span {
            color: rgba($black, .8);
            &:after {
              background-color: $black !important;
            }
          }
        }
      }
      &.active {
        margin-left: 0;

      }
    }
  }
}
