.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  @include aliasing;
  @include user-select-none;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  // border-radius: 50px;
  cursor: pointer;
  &.heading {
    border: 2px solid $black;
    color: $black;
    background-color: transparent;
    &:hover {
      background-color: $gray;
      color: $white;
    }
  }
  &.black {
    background-color: $gray;
    color: $white;
    &:hover {
      opacity: 0.7;
    }
  }
  &.disabled {
    cursor: not-allowed;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
  &.card {
    background-color: $gray;
    color: $white;
    &:hover {
      opacity: 0.8;
    }
  }
}
