.form {
  line-height: 1.2;
  @include breakpoint(small, down) {
    label {
      font-size: 14px !important;
    }
    input {
      font-size: 14px !important;
    }
  }
  label {
    font-size: 16px;
    color: rgba($black, .8);
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 2px;
    line-height: 1.3;
  }
  input {
    height: 50px;
  }
  input, textarea {
    width: 100%;
    border: 1px solid rgba($black, .2);
    outline: none;
    transition: all 0.3s ease-in-out;
    font-size: 16px;
    color: $black;
    margin-bottom: 5px;
    padding: 10px;
    &:focus {
      border-color: rgba($black, .8);
    }
  }
  .form-block {
    padding-top: 7px;
    &.invalid {
      input {
        border-color: $red;
        color: $red;
      }
    }
    .error {
      line-height: 1;
      font-size: 12px;
      height: 15px;
      span {
        color: $red;
        font-weight: bold;
      }
    }
  }
  .v-select {
    .selected-tag {
      margin: 10px 1px 0 5px;
    }
    .dropdown-toggle {
      min-height: 50px;
      height: auto;
      border-radius: 0;
      input {
        margin-top: 5px !important;
      }
      .open-indicator {
        bottom: 10px;
      }
    }
    .dropdown-menu {
      background-color: $white;
      max-height: 250px !important;
    }
  }
}
