section#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 25px;
  margin-left: 16px;
  margin-right: 16px;
  flex-wrap: wrap;
  @include breakpoint(small, down) {
    display: none;
  }
  .heading-title {
    width: 40%;
    h4 {
      font-size: 24px;
      line-height: 1.4;
      font-weight: bold;
    }
    @include breakpoint(xlarge, down) {
      width: 60%;
    }
    @include breakpoint(large, down) {
      width: 100%;
      h4 {
        font-size: 22px;
      }
    }
    @include breakpoint(medium, down) {
      h4 {
        font-size: 18px;
      }
    }
    @include breakpoint(small, down) {
      h4 {
        font-size: 16px;
      }
    }
  }
  .button-block {
    width: 185px;
  }
  border-bottom: 2px solid $gray;
}
