$colors: #BBC6CE, #000, #8AB96A, #5BACAC, #339CC3, #B3B3FF, #DEB04E, #D02B55, #4A913C, #1F98C7, #82719F, #F58EA8, #FF3636, #ABB8C2, #2DA89C, #870D1C, #990364, #757575, #D3BD6E, #FF544E;
$repeat: 200;

@for $i from 1 through $repeat {
  .profile-card:nth-child(#{length($colors)}n+#{$i}) {
    $init_color: nth($colors, random(length($colors)));
    .card-info {
      .card-designer-info h5, .card-designer-description a {
        color: $init_color;
      }
    }
    .btn {
      background-color: $init_color;
      align-items: center;
      justify-content: center;
      i {
        margin-right: 15px;
        &.fa-linkedin {
          margin-bottom: 2px;
        }
      }
      span {
        font-weight: bold;
      }
    }
  }
}

section#profiles {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  max-width: 1500px;
  // padding-top: 25px;
  &.loading {
    min-height: 100vh;
    position: relative;
  }
  h5, span, p, a {
    @include aliasing;
  }
  a {
    @include user-select-none;
    & * {
      @include user-select-none;
    }
  }
  .profile-card {
    transition: all 0.2s ease-in-out;
    transition-property: height, width;
    transition-property: left, right, top;
    width: 250px;
    position: relative;
    padding: 32px 16px 0px 16px;
    margin-bottom: 16px;
    @include breakpoint(medium, down) {
      width: 220px;
    }

    @include breakpoint(small, down) {
      width: 100%;
      padding: 24px 6px 0px 6px;
    }
    .card-inner {
      align-items: stretch;
      display: flex;
      flex-grow: 2;
      flex-direction: column;
      height: calc(100% - 50px);
    }
    .card-info {
      align-self: stretch;
      flex: 1 1 auto;
      @include breakpoint(small, down) {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .card-image {
          width: 30%;
          max-width: 50px;
        }
        .card-designer-info {
          width: 70%;
          padding-left: 15px;
          padding-top: 10px;
        }
      }
    }
    .card-image {
      @include aspect-ratio(2,2);
      width: 100%;
      background-position: center;
      background-size: cover;
      filter: grayscale( 100% );
    }
    .card-designer-info {
      padding-top: 15px;
      h5, span {
        letter-spacing: 2px;
      }
      h5 {
        font-size: 18px;
        font-weight: bold;
        margin: 0;
        line-height: 1;
      }
      span {
        font-size: 12px;
        text-transform: uppercase;
      }
    }
    .card-designer-description {
      padding-top: 10px;
      line-height: 1.3;
      font-size: 14px;
      color: rgba($black, .8);
      padding-bottom: 10px;
      width: 100%;
      @include breakpoint(small, down) {}
      a {
        font-weight: bold;
      }
    }
  }
}
