.scroll-top-widget {
  width: 40px;
  height: 40px;
  margin: 30px;
  border-radius: 100%;
  background-color: $white;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 99999;
  box-shadow: 0px 1px 10px 1px rgba($gray, .1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  i {
    color: rgba($gray, .7);
    transition: color 0.2s ease-in-out;
    // margin-bottom: 5px;
  }
  &:hover {
    box-shadow: 0px 1px 11px 1px rgba($gray, .06);
    i {
      color: rgba($gray, .9);
    }
  }
  @include breakpoint(small, down) {
    margin: 15px;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: all .2s ease;
}

.fade-enter, .fade-leave-active {
  opacity: 0;
}
