.search_box {
  width: 40px;
  height: 40px;
  margin: 0;
  border-radius: 100%;
  background-color: $white;
  position: fixed;
  top: 50px;
  left: 250px;
  @include breakpoint(small, down) {
    top: 70px;
    right: 15px;
    left: auto;
  }
  z-index: 99999;
  box-shadow: 0px 1px 10px 1px rgba($gray, .1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  .filled {
    position: absolute;
    top: 0;
    right: 5px;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color: $turquoise;
  }
}
.form.mdrnz {
  position: absolute;
  opacity: 0;
  position: fixed;
  width: 300px;
  background-color: rgba($white, 0.95);
  border-radius: 4px;
  padding: 0 10px;
  padding-top: 20px;
  padding-bottom: 15px;
  z-index: 9999999999;
  box-shadow: 0px 2px 8px 0px rgba($black, 0.25);
  cursor: default;
  .form-block {
    position: relative;
    height: 35px;
    .send-query {
      padding-bottom: 2px;
      position: absolute;
      right: 0;
      top: calc(50% - 13px);
      width: 26px;
      height: 26px;
      font-weight: bold;
      font-size: 13px;
      background-color: $turquoise;
      border-radius: 100%;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 1px 4px 0px rgba($black, 0.05);
      cursor: pointer;
      z-index: 4;
      transition: all 0.2s ease-in-out;
      &:hover {
        opacity: 0.8;
        box-shadow: 0px 1px 7px 0px rgba($black, 0.2);
      }
    }
    input {
      position: absolute;
      bottom: 0;
      left: 0;
      -webkit-appearance: none;
      background: none;
      border: none;
      border-radius: 0;
      box-shadow: none;
      margin: 0;
      font-size: 16px;
      height: 35px;
      color: rgba($black, .6);
      width: 100%;
      padding: 0 30px;
      z-index: 2;
    }
    label {
      @include aliasing;
      z-index: 9;
      position: absolute;
      font-weight: normal;
      left: 0;
      font-size: 16px;
      color: rgba($black, .6);
      transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      transform: scale(1) translate(30px, 2px);
      transform-origin: left top 0px;
      pointer-events: none;
      user-select: none;
    }
    i.fa-search {
      position: absolute;
      left: 0;
      font-size: 18px;
      width: 18px;
      height: 18px;
      top: calc(50% - 9px);
      opacity: 0.1;
      z-index: 1;
    }
    i.fa-caret-left {
      position: absolute;
      left: 0;
      top: calc(50% - 13px);
      cursor: pointer;
      transition: opacity 0.2s ease-in-out;
      z-index: 3;
      font-size: 26px;
      width: 26px;
      height: 26px;
      color: $red;
      &:hover {
        opacity: 0.7;
      }
    }
    &.active  {
      label {
        height: 15px;
        color: rgba($black, .9);
        transform: scale(0.75) translate(0px, -25px);
      }
    }
  }
  &.active {
    opacity: 1;
    top: 95px;
    left: 285px;
    @include breakpoint(small, down) {
      top: 115px;
      left: 25px;
    }
  }
}

.search-box-enter-active {
  transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  transform-origin: left top;
  animation: search-box-in .25s;
  @include breakpoint(small, down) {
    animation: search-box-in .25s;
  }
}
.search-box-leave-active {
  transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  transform-origin: left top;
  animation: search-box-out .25s;
  @include breakpoint(small, down) {
    animation: search-box-out .25s;
  }
}
@keyframes search-box-in {
  from {
    opacity: 0;
    // top: 90px;
    // left: 280px;

    transform: scale(0.6);
  }
  to {
    opacity: 0.9;
    // top: 95px;
    // left: 285px;

    transform: scale(1);
  }
}

@keyframes search-box-out {
  from {
    opacity: 0.9;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.6);
  }
}

@keyframes search-box-small-in {
  from {
    opacity: 0;
    transform: scale(0.7) translate(0, 60px);
  }
  to {
    opacity: 0.9;
    transform: scale(1) translate(0, 60px);
  }
}

@keyframes search-box-small-out {
  from {
    opacity: 0.9;
    transform: scale(1) translate(0, 60px);
  }
  to {
    opacity: 0;
    transform: scale(0.7) translate(0, 60px);
  }
}
