section#suggest {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-bottom: 150px;
  p, span {
    color: rgba($black, .7);
    // line-height: 1.5;
    // font-size: 16px;
    // @include breakpoint(small, down) {
    //   font-size: 14px;
    // }
  }
  .pb_sm {
    padding-bottom: 15px;
  }
  .pb {
    padding-bottom: 30px;
  }
  .suggest_form-block {
    width: 600px;
    padding-bottom: 50px;
    .form {
      position: relative;
      .form-block.link-input {
        position: relative;
        i {
          position: absolute;
          left: 10px;
          top: 25px;
        }
        input {
          padding-left: 35px;
        }
      }
      .error {
        padding-bottom: 15px;
        font-size: 13px;
        font-weight: bold;
        color: $red;
      }
    }
  }

}
