section#header
  .heading-title
    h4 WomanPower.md is a profile directory of inspiring Moldovan women from Tech and Creative industries.
  .button-block
    = link_to 'read more', about_path, data: { turbolinks: false }, class: 'btn heading'
