= render 'aside'
main#main-container
  = render 'header'
  = render 'profiles'
scroll-top
search-box @togglesearch="toggleFormShow" :fixed-form="fixedForm" :search-query="searchQuery"
transition name="search-box"
  search-form :fixed-form="fixedForm" :search-query="searchQuery" @hide="fixedForm = false" @reset="resetSearch" @update="updateSearchQuery" v-show="fixedForm"
