aside#foreign
  = link_to root_path do
    .header-logo
  .pages-links
    ul
      li
        = link_to 'about', about_path, data: { turbolinks: false }
      li
        = link_to 'suggest', suggest_path, data: { turbolinks: false }
main#foreign
  section#suggest
    suggest :tags="#{@tags}"
