body {
  margin: 0;
  padding: 0;
  background: #fefefe;
  font-family: 'Karla', sans-serif;
  font-weight: normal;
  line-height: 1.4;
  color: #0a0a0a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$white: #ffffff;
$hover-white: #ADADAD;
$black: #000000;
$gray: #333333;
$red: #91302d;
$turquoise: #5bacac;
