@import "mixins";
@import "_settings";
@import "fonts";
@import "foundation";
@import "font-awesome";
@import "main/*";

.container {
  aside {
    position: fixed;
    width: 270px;
    min-height: 100vh;
    height: 100%;
    transition: all .5s ease;
    &#foreign {
      position: inherit;
      width: 100%;
      min-height: auto;
      height: auto;
    }
  }
  main {
    padding: 30px;
    width: calc(100% - 270px);
    transition: all .5s ease;
    position: static;
    transform: none;
    margin-left: 270px;
    height: 100%;
    min-height: 100vh;
    &#foreign {
      margin-left: 0;
      padding: 15px;
      position: relative;
      width: 100%;
      height: 100%;
      overflow: inherit;
    }
  }
  @include breakpoint(small, down) {
    aside {
      height: auto;
      min-height: auto;
      width: 100%;
      position: fixed;
      z-index: 1;
      top: 0;
      height: 110px;
      &#foreign {
        position: inherit;
        height: auto !important;
        padding: 15px;
      }
    }
    main {
      margin-top: 80px;
      width: 100%;
      position: inherit;
      margin-left: 0;
      padding: 35px 6px 0px 6px;
      height: 100%;
      min-height: 100%;
      &#foreign {
        margin-top: 0px;
        padding: 15px;
        height: auto;
        min-height: auto;
      }
    }
  }
}

.head_info-block {
  padding-bottom: 20px;
  & * {
    line-height: 1.4;
    color: rgba($black, .8);
  }

  h3 {
    line-height: 1.25;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
    @include breakpoint(small, down) {
      font-size: 18px;
    }
  }
  h2 {
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    width: 100%;
    border-bottom: 2px solid $black;
    @include breakpoint(small, down) {
      font-size: 20px;
      margin-bottom: 15px;
    }
  }
  p {
    margin: 0;
    font-size: 18px;
    padding-bottom: 20px;
    @include breakpoint(small, down) {
      font-size: 14px;
      line-height: 1.3;
    }
  }
}

.body-no-scroll {
  overflow: hidden;
}

.spinner-container {
  position: absolute;
  @include stretch;
  background-color: rgba($white, .5);
}

.animated {
  animation-duration: 0.6s;
  animation-fill-mode: both;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 25%, 0);
    transform: translate3d(0, 25%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(-7%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeOut {
  animation-name: fadeOut;
}

.turbolinks-progress-bar {
  height: 2px;
  background-color: $red;
}

a {
  @include user-select-none;
}

@include breakpoint(small, down) {
  * {
      -webkit-touch-callout:none;                /* prevent callout to copy image, etc when tap to hold */
      -webkit-text-size-adjust:none;             /* prevent webkit from resizing text to fit */
      -webkit-tap-highlight-color:rgba(0,0,0,0); /* prevent tap highlight color / shadow */
      // -webkit-user-select:none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  }

}
