@font-face {
    font-family: 'Karla';
    src: asset-url('Karla-Regular.woff2') format('woff2'),
        asset-url('Karla-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: asset-url('Karla-Bold.woff2') format('woff2'),
        asset-url('Karla-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
