doctype html
html
  head
    title
      | WomanPower.md
    meta content="width=device-width, initial-scale=1.0" name="viewport"
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'main'
    = favicon_link_tag 'favicon.jpg'
    meta content="https://womanpower.md" property="og:url"
    meta content="WomanPower.md" property="og:title"
    meta content="WomanPower.md is a profile directory of inspiring Moldovan women from Tech and Creative industries." property="og:description"
    meta content="#{root_url}og-wpr.jpg" property="og:image"

    script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-115362016-1"
    javascript:
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-115362016-1');
  body
    #app.container v-if="loaded"
      = yield
